@font-face {
  font-family: BanderaPro;
  src: url(../fonts/BanderaPro-Bold.ttf);
  src: url(../fonts/BanderaPro-Bold.eot);
  src: url(../fonts/BanderaPro-Bold.woff);
  src: url(../fonts/BanderaPro-Bold.woff2)
}

@font-face {
  font-family: Orbitron;
  src: url(../fonts/Orbitron-Bold.ttf)
}

h1 {
  margin: 0;
}

h2 {
  font-family: 'Orbitron';
  font-size: 24px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  margin:0px;
  padding:0px;
  height:100%;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
	/* max-width: 1440px; */
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  background-color:	#F4D7CA;
	background-image: url(../img/BackgroundHeader.png);
	background-position: top center;
	background-repeat: repeat;
  background-attachment: fixed;
}

.container {
  min-width: 87%;
  margin: 0 auto;
  padding: 0 15px;
  min-height: 100%;
}

.main {

}

/* HEADER */
.header {
	display: flex;
	flex-direction: row;
	padding: 1em 0;
	align-items: center;
	justify-content: space-between;
  border-bottom: #B96969 solid 0.2em;
}

.main_logo {
  width: 5.5em;
}

.header_desc {
	font-family: 'BanderaPro', serif;
	font-size: 1.5em;
	color:	#B96969;
}

.header_social-block, .footer_social-block {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  /* width: 28%; */
  align-items: center;
  justify-content: space-between;
}

.header_desc-social {
	flex-direction: row;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 50%;
}

[name="social_"] {
	cursor: pointer;
  border-radius: 1em;
}

.header_social-block a svg {
  width: 2.5em;
  padding-bottom: 0.3em;
}

.header_social-block svg:hover  {
	opacity: 0.7;
	transition: all .3s ease-in-out;
}

.header_phone, .slogan_block-subscribe, .slogan_block-ordered {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  background-color: #B96969;
  font-family: 'BanderaPro', serif;
	font-size: 1.5em;
	color:	#F4D7CA;
  gap: 1em;
  padding: 0.3em;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.3em;
  letter-spacing: 0.15em;
  box-shadow: #B96969 0.5em 0.5em 1em;
}

.header_phone:hover, .slogan_block-subscribe:hover, .slogan_block-ordered:hover {
  box-shadow: #B96969 0.1em 0.1em 0.3em;
  transition: all .2s ease-out;
	opacity: 0.8;
}

.header_phone img {
  display: flex;
  flex-direction: row;
}

.header_hamb {
  width: 3em;
  height: 3em;
  position: relative;
  z-index: 5;
  overflow: hidden;
  display: none;
}

.header_hamb span {
  width: 5em;
  height: 0.2em;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #B96969;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: all 0.5s;
}

.header_hamb span:nth-of-type(2) {
  top: calc(50% - 0.5em);
}

.header_hamb span:nth-of-type(3) {
  top: calc(50% + 0.5em);
}

.header_hamb.active span:first-of-type {
  opacity: 0.7;
  transform: translateX(+50%);
}

.header_hamb.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #B96969;;
}

.header_hamb.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: #B96969;;
}

.header_hidden {
	display: none;
}


/* CONTENT */
.content {
  display: flex;
  padding: 3em 0;
}

.slogan_block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 50%;
}

.slogan {
  font-family: 'BanderaPro', serif;
	font-size: 2.7em;
	color:	#B96969;
  padding: 2em 0;
}

.slogan span {
  display: inline-block;
}

.slogan_link-block {
  width: 100%;
  display: flex;
}

.slogan_block-subscribe, .slogan_block-ordered {
  width: 50%;
  justify-content: center;
  padding: 0.7em;
  margin: 1em 0;
}

.slogan_block-subscribe {
  margin-bottom: 5em;
}

.slogan_block-ordered {
  margin-top: 5em;
}

.img_block {
  position: relative;
  width: 50%;
}

.img_gingerBread {
  position: absolute;
  left: 2em;
  top: -30em;
  transform: rotate(150deg);
  width: 14em;
  opacity: 0.5;
  z-index: 2;
}

.position {
  opacity: 1;
  transition: all 3s ease-out;
  top: 2em;
  transform: rotate(-25deg);
}

.img_mochi {
  position: absolute;
  right: -35em;
  bottom: 1em;
}

.position2 {
  right: 0em;
  bottom: 1em;
  transition: all 2s ease-out;
}

/* SLIDER */
.slider {
	width: 100%;
}

.slider_wrapper {
  margin: 3em 0 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.slider_visible {
  position: relative;
  width: 608px;
  height: 465px;
  overflow: hidden;
  margin: 1em 0;
}

.slider_list {
  position: absolute;
  transition: all .3s step-end;
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  left: 0;
  margin: 0 auto;
}

.slide {
  width: 600px;
  background-color: rgb(225, 229, 229);
  border: 0.3em solid #B96969;
  border-radius: 0.5em;
  text-align: center;
  line-height: 100px;
  font-size: 1em;
}

.slider_button {
  background-image: url(../img/ButtonNoise.png);
  background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
  background-color: #F4D7CA;
  width: 4em;
  height: 4em;
  opacity: 0.5;
  border-radius: 5em;
  backdrop-filter: blur(1em);
  cursor: pointer;
  z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider_button::before {
  content: url(../img/ArrowLeft.svg);
  width: 5em;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.slider_button:first-child {
  left: 0;
  box-shadow: #B96969 0.5em 0.5em 1em;
}

.slider_button:last-child {
  right: 0;
  transform: rotate(180deg);
  box-shadow: #B96969 -0.5em -0.5em 1em;
}

.slider_button:hover {
  box-shadow: #B96969 0.1em 0.1em 0.2em;
  transition: all .2s ease-out;
}

.slider_img {
  position: absolute;
  z-index: 1;
}

.slider_img.active {
  z-index: 2;
  margin: 0 auto;
}

.slider_dots-list {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 1em;
}

.slider_dot {
  height: 0.6em;
  width: 2em;
  /* background-color: #B96969; */
  background-color: inherit;
  border: 0.5px solid #B96969;
  border-radius: 0.3em;
  box-shadow: #B96969 0.2em 0.2em 1em;
  cursor: pointer;
}

.slider_dot:hover {
  box-shadow: none;
  transition: all .2s ease-out;
  background-color: #CE9999;
  transform: scale(1.2);
}

.slider_dot.active {
  box-shadow: none;
  transition: all .2s ease-out;
  background-color: #CE9999;
  /* transform: scale(1.2); */
}

/* FOOTER */
.footer {
  margin-top: 5em;
  display: flex;
	flex-direction: row;
	padding: 1em 0;
	align-items: center;
	justify-content: space-between;
  border-top: #B96969 solid 0.2em;
}

.footer_logo-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.RzS_logo-desc {
  font-family: 'Orbitron', serif;
	font-size: 1.2em;
	color:	#B96969;
}

.logo_RzS {
  width: 5.5em;
}

.footer_social-block a svg {
  width: 2.5em;
}

.footer_social-block svg:hover  {
	opacity: 0.7;
	transition: all .3s ease-in-out;
}

/* STICKY */
.sticky_btn {
	background-image: url(../img/ButtonNoise.png);
  background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
  background-color: #B96969;
  width: 4em;
  height: 4em;
  opacity: 0.8;
  border-radius: 5em;
  backdrop-filter: blur(1em);
  cursor: pointer;
  z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 9em;
	right: 1em;
	box-shadow: #B96969 0.5em 0.5em 1em;
}

.sticky_btn:hover {
	opacity: 0.7;
	box-shadow: #B96969 0.2em 0.2em 0.3em;
}



@media (max-width: 930px) {
  .header_desc-social {
		flex-direction: column;
		row-gap: 1em;
	}
	.slogan {
    font-size: 2.3em;
  }
  .img_gingerBread {
    width: 10em;
  }
  .img_mochi {
		width: 20em;
	}
}


@media (max-width: 780px) {
  .header_desc-social, .slider {
		display: none;
	}
	.header_phone, .slogan_block-subscribe, .slogan_block-ordered {
		font-size: 1.2em;
		letter-spacing: 0.1em;
	}
	.slogan {
		font-size: 1.7em;
	}
	.content {
		padding: 1em 0;
	}
	.img_gingerBread {
    width: 7em;
  }
  .img_mochi {
		width: 15em;
	}
  .header_hamb {
    display: block;
  }

  /* .main__buttons-block {
    flex-direction: column;
  }
  .main__content {
    align-items: center;
  }
  .main__title {
    font-size: 1.9em;
    padding: 0;
  }
  .main__buttons-block {
    flex-direction: column;
  }
  .contacts__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contacts__btn-phone,
  .contacts__btn-links {
    margin-bottom: 1em;
    width: 60vw;
    font-size: 1.8em;
  }
  .footer__desc {
    flex-direction: column;
  }
  .footer__block-logo {
    margin-bottom: 1em;
  }
  .footer__block-social {
    width: 90%;
    justify-content: space-between;
  } */
}
@media (max-width: 575px) {
  .main__title {
    font-size: 1.5em;
    padding: 0;
  }

  .main__button-text {
    font-size: 1.2em;
  }
  .contacts__btn-phone {
    font-size: 1.2em;
  }
}

@media (max-width: 415px) {
  .contacts__btn-phone {
    font-size: 1em;
  }
}


