@font-face {
    font-family: BanderaPro;
    src: url(../fonts/BanderaPro-Bold.ttf);
    src: url(../fonts/BanderaPro-Bold.eot);
    src: url(../fonts/BanderaPro-Bold.woff);
    src: url(../fonts/BanderaPro-Bold.woff2)
}

@font-face {
    font-family: Orbitron;
    src: url(../fonts/Orbitron-Bold.ttf)
}

h1 {
   margin: 0;
}

h2 {
    font-family: 'Orbitron';
    font-size: 24px;
} */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
	/* max-width: 1440px; */

}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}

.container {
  max-width: 85%;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
	background-color:	#F4D7CA;
	background-image: url(../img/BackgroundHeader.png);
	background-position: top center;
	/* background-size: cover; */
	background-repeat: no-repeat;
	width: 100%;
	/* height: 100vh; */
  background-attachment: fixed;
}

/* HEADER */

.header {
	display: flex;
	flex-direction: row;
	padding: 1em 0;
	align-items: center;
	justify-content: space-between;
  border-bottom: #B96969 solid 0.2em;
}

.main_logo {

}

.header_desc {
	font-family: 'BanderaPro', serif;
	font-size: 1.5em;
	color:	#B96969;
}

.header_social-block {
  display: flex;
  flex-direction: row;
  gap: 1.5em
}

.header_social-block a img {
  width: 40px;
}

[name="social_"] {
	cursor: pointer;
  border-radius: 1em;
}

[name="social_"] img {
	width: 100px;
}

.header_phone, .slogan_block-subscribe, .slogan_block-ordered {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  background-color: #B96969;
  font-family: 'BanderaPro', serif;
	font-size: 1.5em;
	color:	#F4D7CA;
  gap: 1em;
  padding: 0.3em;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.3em;
  letter-spacing: 0.15em;
  box-shadow: #B96969 0.5em 0.5em 1em;
}

.header_phone img {
  display: flex;
  flex-direction: row;
}

/* CONTENT */

.content {
  display: flex;
  padding: 3em 0;
}

.slogan_block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 50%;
  /* padding: 3em 0; */
}

.slogan {
  font-family: 'BanderaPro', serif;
	font-size: 3em;
	color:	#B96969;
  padding: 2em 0;
}

.slogan_link-block {
  width: 100%;
  display: flex;
}

.slogan_block-subscribe, .slogan_block-ordered {
  width: 50%;
  justify-content: center;
  padding: 0.7em;
  margin: 1em 0;
}

.slogan_block-subscribe {
  margin-bottom: 5em;
}

.slogan_block-ordered {
  margin-top: 5em;
}

.img_block {
  position: relative;
  width: 50%;
}

.img_gingerBread {
  position: absolute;
  right: -55em;
  top: 1em;
  transform: rotate(10deg);
  width: 12em;
  transition: 7s;
  overflow: hidden;
  opacity: 1;
}

.position {
  opacity: 1;
  transition: 5s;
  left: 2em;
  transform: rotate(-25deg);
}

.img_mochi {
  position: absolute;
  right: 0em;
  bottom: 1em;
}

/* SLIDER */

.slider {
	background-color:	#B96969;
	background-image: url(../img/BackgroundFooter.png);
	background-position: top center;
	/* background-size: cover; */
	background-repeat: no-repeat;
	width: 100%;
	/* height: 100vh; */
  background-attachment: fixed;
}

.slider_wrapper {
  padding: 3em 0;
  position: relative;

}

.slider_list {
  position: absolute;
  margin: 0 auto;
  overflow: hidden;
}

.slider_button {
  position: absolute;
  bottom: 10%;
  background-image: url(../img/ButtonNoise.png);
  background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
  background-color: #B96969;
  width: 5em;
  height: 5em;
  opacity: 0.2;
  border-radius: 5em;
  backdrop-filter: blur(1em);
  cursor: pointer;
  z-index: 1;
}

.slider_button::before {
  content: url(../img/ArrowLeft.svg);
  width: 5em;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.slider_button:first-child {
  left: 0;
  box-shadow: #F4D7CA 0.5em 0.5em 1em;
}

.slider_button:last-child {
  right: 0;
  transform: rotate(180deg);
  box-shadow: #F4D7CA -0.5em -0.5em 1em;
}

.slider_img {
  position: absolute;
  z-index: 1;
  width: ;
}

.slider_img.active {
  z-index: 2;
  margin: 0 auto;
}





