@font-face {
  font-family: BanderaPro;
  src: url(../fonts/BanderaPro-Bold.ttf);
  src: url(../fonts/BanderaPro-Bold.eot);
  src: url(../fonts/BanderaPro-Bold.woff);
  src: url(../fonts/BanderaPro-Bold.woff2)
}

@font-face {
  font-family: Orbitron;
  src: url(../fonts/Orbitron-Bold.ttf)
}

h1 {
  margin: 0;
}

h2 {
  font-family: 'Orbitron';
  font-size: 24px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  margin:0px;
  padding:0px;
  height:100%;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
	max-width: 1440px;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  background-color:	#F4D7CA;
	background-image: url(../img/BackgroundHeader.png);
	background-position: top center;
	background-repeat: repeat;
  background-attachment: fixed;
}

.container {
  min-width: 87%;
  margin: 0 auto;
  padding: 0 15px;
  min-height: 100%;
}

.main {

}

/* HEADER */
.header {
	display: flex;
	flex-direction: row;
	padding: 1em 0;
	align-items: center;
	justify-content: space-between;
  border-bottom: #B96969 solid 0.2em;
}

/* .main_logo {
  width: 5.5em;
} */

.header svg {
  z-index: 5;
}

.header_desc {
	font-family: 'BanderaPro', serif;
	font-size: 1.5em;
	color:	#B96969;
}

.header_social-block, .footer_social-block {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  /* width: 28%; */
  align-items: center;
  justify-content: space-between;
}

.header_desc-social {
	flex-direction: row;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 50%;
}

[name="social_"] {
	cursor: pointer;
  border-radius: 1em;
}

.header_social-block a svg {
  width: 2.5em;
  padding-bottom: 0.3em;
}

.header_social-block svg:hover  {
	opacity: 0.7;
	transition: all .3s ease-in-out;
}

.header_phone, .slogan_block-subscribe, .slogan_block-ordered {
  background-image: url(../img/ButtonNoise2.png);
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  background-color: rgba(185, 105, 105, 0.6);
  font-family: 'BanderaPro', serif;
	font-size: 1.5em;
	color:	#F4D7CA;
  gap: 1em;
  padding: 0.3em;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.3em;
  letter-spacing: 0.15em;
  box-shadow: #B96969 0.5em 0.5em 1em;
  background-attachment: fixed;
  backdrop-filter: blur(1px);
  transition: all .3s ease-in-out;
}

.header_phone:hover, .slogan_block-subscribe:hover, .slogan_block-ordered:hover, .sticky_btn:hover {
  opacity: 0.7;
	box-shadow: #B96969 0.2em 0.2em 0.3em;
  transition: all .3s ease-in-out;
	
}

.header_phone img {
  display: flex;
  flex-direction: row;
}

.header_phone {
  z-index: 4;
}

.header_hamb {
  width: 3em;
  height: 3em;
  position: relative;
  z-index: 5;
  overflow: hidden;
  display: none;
  cursor: pointer;
  border-radius: 3em;
  transition: all 0.5s ease-out;
}

.header_hamb span {
  width: 5em;
  height: 0.2em;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #B96969;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
}

.header_hamb span:nth-of-type(2) {
  top: calc(50% - 0.7em);
}

.header_hamb span:nth-of-type(3) {
  top: calc(50% + 0.7em);
}

.header_hamb.active span:first-of-type {
  opacity: 0.7;
  transform: translateX(+50%);
  transition: all .5s ease-in-out;
}

.header_hamb.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #B96969;;
}

.header_hamb.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: #B96969;
}

.header_hidden {
	display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 105vw;
  height: 100%;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1s ease-in-out;
  gap: 10em;
}

.header_hidden.active {
  transform: translate(0);
  transition: all 1s;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 3;
  width: 100vw;
}

.header_desc-social-hidden .header_social-block {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 4em;
 
}

/* CONTENT */
.content {
  display: flex;
  padding: 3em 0;
}

.slogan_block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 50%;
}

.slogan {
  font-family: 'BanderaPro', serif;
	font-size: 2.7em;
	color:	#B96969;
  padding: 2em 0;
}

.slogan span {
  display: inline-block;
}

.slogan_link-block {
  width: 100%;
  display: flex;
}

.slogan_block-subscribe, .slogan_block-ordered {
  width: 50%;
  justify-content: center;
  padding: 0.7em;
  margin: 1em 0;
}

.slogan_block-subscribe {
  margin-bottom: 5em;
}

.slogan_block-ordered {
  margin-top: 5em;
}

.img_block {
  position: relative;
  width: 50%;
}

.img_gingerBread {
  position: absolute;
  left: 2em;
  top: -30em;
  transform: rotate(150deg);
  width: 14em;
  opacity: 0.5;
  z-index: 2;
}

.position {
  opacity: 1;
  transition: all 3s ease-out;
  top: 2em;
  transform: rotate(-25deg);
}

.img_mochi {
  position: absolute;
  right: -35em;
  bottom: 1em;
}

.position2 {
  right: 0em;
  bottom: 1em;
  transition: all 2s ease-out;
}

/* SLIDER */
.slider {
  margin-top: 1em;
}

.slider_block {
  width: 100%;
  display: flex;
  justify-content: center;
}

.slider_wrapper {
  margin: 0 auto;
  max-width: 85%;
  width: 100%;
  border-radius: 20px;
  position: relative;
  box-shadow: 0.7em 0.7em 1.2em rgb(0 0 0 / 75%);
}

.slider_item {
  width: 100%;
  height: 100%;
  display: none;
}

.slider_item img {
  max-width: 100%;
  border-radius: 20px;
  margin: 0 auto;
}

.slider_item.active {
  display: flex;
  justify-content: center;
}

.slider_btn-prev,
.slider_btn-next {
  
  background-image: url(../img/ButtonNoise.png);
  /* background-position: top center;
	background-size: cover; */
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 8%;
  background-color: rgba(185, 105, 105, 0.3);
  opacity: 0.4;
  cursor: pointer;
  /* transition: opacity 0.2s ease-in-out; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em 0 0 1em;
  backdrop-filter: blur(5px);
  transition: all 0.3s ease-in-out;  
}

.slider_btn-prev:hover,
.slider_btn-next:hover {
  opacity: 0.6;
  transition: all 0.7s ease-out;
}

.slider_btn-next {
  left: auto;
  right: 0;
  border-radius: 0 1em 1em 0;
}

.slider_wrapper a svg path {
  opacity: 1;
}

.slider_btn-prev:hover path,
.slider_btn-prev:focus path,
.slider_btn-next:hover path,
.slider_btn-next:focus path {
  fill: #F4D7CA;
  /* fill: #B96969; */
  transition: all 0.3 ease-in-out;  
  opacity: 1;
}

.slider_btn-next svg {
  transform: rotate(-180deg);;
}

.slider_dots-wrapper {
  display: flex;
  justify-content: center;
  margin: 5% auto 5% auto;
  z-index: 3;
  max-width: 85%;
  gap: 1%;
}

.slider_dot.active {
  background-color: #B96969;
}

.slider_dot {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: gray;
  box-shadow: 0.3em 0.3em 0.3em #000;
  opacity: 0.5;
  margin-right: 10px;
  cursor: pointer;
}

.slider_dot:last-child {
  margin-right: 0;
}

/* FOOTER */
.footer {
  margin-top: 5em;
  display: flex;
	flex-direction: row;
	padding: 1em 0;
	align-items: center;
	justify-content: space-between;
  border-top: #B96969 solid 0.2em;
}

.footer_logo-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.RzS_logo-desc {
  font-family: 'Orbitron', serif;
	font-size: 1.2em;
	color:	#B96969;
}

.logo_RzS {
  width: 5.5em;
}

.footer_social-block a svg {
  width: 2.5em;
}

.footer_social-block svg:hover  {
	opacity: 0.7;
	transition: all .3s ease-in-out;
}

/* STICKY */
.sticky_btn {
	background-image: url(../img/ButtonNoise2.png);
  background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
  background-color: rgba(185, 105, 105, 0.7);
  width: 4em;
  height: 4em;
  opacity: 0.8;
  border-radius: 5em;
  cursor: pointer;
  z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 9em;
	right: 1em;
	box-shadow: #B96969 0.5em 0.5em 1em;
  backdrop-filter: blur(1px);
  transition: all .3s ease-in-out;
}

.sticky_btn:hover {
	opacity: 0.7;
	box-shadow: #B96969 0.2em 0.2em 0.3em;
}

@media (max-width: 930px) {
  .container {
    max-width: 90%;
  }
  .header_desc-social {
		flex-direction: column;
		row-gap: 1em;
	}
	.slogan {
    font-size: 2.3em;
  }
  .img_gingerBread {
    width: 10em;
  }
  .img_mochi {
		width: 20em;
	}
}

@media screen and (max-width: 870px) {
  .container {
    max-width: 95%;
  }
  /* .slide {
    width: 500px;
  } */
}

@media (max-width: 780px) {
  
  .header_desc-social {
		display: none;
	}
	.header_phone, .slogan_block-subscribe, .slogan_block-ordered {
		font-size: 1.2em;
		letter-spacing: 0.1em;
	}
	.slogan {
		font-size: 1.7em;
	}
	.content {
		padding: 1em 0;
	}
	.img_gingerBread {
    width: 7em;
  }
  .img_mochi {
		width: 15em;
	}
  .header_hamb {
    display: block;
  }

  /* .main__buttons-block {
    flex-direction: column;
  }
  .main__content {
    align-items: center;
  }
  .main__title {
    font-size: 1.9em;
    padding: 0;
  }
  .main__buttons-block {
    flex-direction: column;
  }
  .contacts__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contacts__btn-phone,
  .contacts__btn-links {
    margin-bottom: 1em;
    width: 60vw;
    font-size: 1.8em;
  }
  .footer__desc {
    flex-direction: column;
  }
  .footer__block-logo {
    margin-bottom: 1em;
  }
  .footer__block-social {
    width: 90%;
    justify-content: space-between;
  } */
}
@media (max-width: 575px) {
  .main__title {
    font-size: 1.5em;
    padding: 0;
  }

  .main__button-text {
    font-size: 1.2em;
  }
  .contacts__btn-phone {
    font-size: 1.2em;
  }
}

@media (max-width: 415px) {
  .contacts__btn-phone {
    font-size: 1em;
  }
}


